<script>
    const sideMenu = document.querySelector("aside")
    const menuBtn = document.querySelector("#menu-btn")
    const closeBtn = document.querySelector("#close-btn")
    const themeToggler = document.querySelector(".theme-toggler")

    // show sidebar
    menuBtn.addEventListener('click', () => {
        sideMenu.style.display = 'block'
    })

    // close sidebar
    closeBtn.addEventListener('click', () => {
        sideMenu.style.display = 'none'
    })

    // change theme
    themeToggler.addEventListener('click', () => {
        document.body.classList.toggle('dark-theme-variables')
        themeToggler.querySelector('span:nth-child(1)').classList.toggle('active')
        themeToggler.querySelector('span:nth-child(2)').classList.toggle('active')
    })

    // ------------------- CALENDAR -------------------
    // CHECK LEAP YEAR
    isLeapYear = (year) => {
        return (year % 4 === 0 && year % 100 !== 0 && year % 400 !== 0) || 
        (year % 100 === 0 && year % 400 === 0)
    }

    getFebDays = (year) => {
        return isLeapYear(year) ? 29 : 28
    }

    let calendar = document.querySelector('.calendar')

    const month_names = [
        'January',
        'February',
        'March',
        'April',
        'May',
        'June',
        'July',
        'August',
        'September',
        'October',
        'November',
        'December'
    ]

    let month_picker = document.querySelector('#month-picker')

    month_picker.onclick = () => {
        month_list.classList.add('show')
    }
    // GENERATE CALENDAR

    generateCalendar = (month, year) => {
        let calendar_days = document.querySelector('.calendar-days')
        calendar_days.innerHTML = ''

        let calendar_header_year = document.querySelector('#year')

        let days_of_month = [
            31,
            getFebDays(year),
            31,
            30,
            31,
            30,
            31,
            31,
            30,
            31,
            30,
            31,
        ]

        let currDate = new Date()

        month_picker.innerHTML = month_names[month]
        calendar_header_year.innerHTML = year

        let first_day = new Date(year, month, 1)

        for(let i = 0; i <= days_of_month[month] + first_day.getDay() - 1; i++){
            let day = document.createElement('div')
            let date = i - first_day.getDay() + 1;
            if(i >= first_day.getDay()){
                day.classList.add('calendar-day-hover')
                day.innerHTML = i - first_day.getDay() + 1
                day.innerHTML += `<span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>`

                if(i - first_day.getDay() + 1 === currDate.getDate() && year === currDate.getFullYear() && month === currDate.getMonth()){
                    day.classList.add('curr-date')
                }
            }

            day.setAttribute('onclick', `getDate(${year}, ${month}, ${date})`);
            calendar_days.appendChild(day)
        }
    }

    let month_list = calendar.querySelector('.month-list')

    month_names.forEach(( e, index ) => {
        let month = document.createElement('div')
        month.innerHTML = `<div>${e}</div>`
        month.onclick = () => {
            month_list.classList.remove('show')
            curr_month.value = index
            generateCalendar(curr_month.value, curr_year.value)
        }
        month_list.appendChild(month)
    })

    document.querySelector('#prev-year').onclick = () => {
        --curr_year.value
        generateCalendar(curr_month.value, curr_year.value)
    }

    document.querySelector('#next-year').onclick = () => {
        ++curr_year.value
        generateCalendar(curr_month.value, curr_year.value)
    }

    let currDate = new Date()

    let curr_month = {value: currDate.getMonth()}
    let curr_year = {value: currDate.getFullYear()}

    generateCalendar(curr_month.value, curr_year.value)

    let dateSpan = document.getElementById('dateSpan');
    let dateDiv = document.getElementById('dateDiv');

    // Click event listener on dateSpan
    dateSpan.addEventListener('click', (event) => {
        event.stopPropagation(); // Prevent click event from propagating to document
        dateDiv.classList.remove('hideDateDiv');
        dateDiv.classList.add('showDateDiv');
    });

    // Click event listener on document
    document.addEventListener('click', (event) => {
        if (!dateDiv.contains(event.target)) {
            dateDiv.classList.remove('showDateDiv');
            dateDiv.classList.add('hideDateDiv');
        }
    });

    function getDate(year, month, date) {
        // Format the date as "MM/DD/YYYY"
        let formattedDate = `${(month + 1).toString().padStart(2, '0')}/${date.toString().padStart(2, '0')}/${year}`;

        console.log(formattedDate);
        dateSpan.innerHTML = `${formattedDate}`
        dateDiv.classList.remove('showDateDiv');
        dateDiv.classList.add('hideDateDiv')
    }

    // ------------------- END OF CALENDAR -------------------

</script>