<div class="item">
    <div class="resizer ne"></div>
    <div class="resizer nw"></div>
    <div class="resizer sw"></div>
    <div class="resizer se"></div>
</div>

<%- include('scripts/mousedrag') %>
<%- include('scripts/resize') %>