<div class="table-container">
    <table>
      <thead>
        <tr>
          <th class="sticky-column">Column 1</th>
          <th>Column 2</th>
          <th>Column 3</th>
          <th>Column 4</th>
          <th>Column 5</th>
          <th>Column 6</th>
          <th>Column 7</th>
          <th>Column 8</th>
          <th>Column 9</th>
          <th>Column 10</th>
          <th>Column 11</th>
          <th>Column 12</th>
          <th>Column 13</th>
          <th>Column 14</th>
          <th>Column 15</th>
          <th>Column 16</th>
          <th>Column 17</th>
          <th>Column 18</th>
          <th>Column 19</th>
          <th>Column 20</th>
          <th>Column 21</th>
          <th>Column 22</th>
          <th>Column 23</th>
          <th>Column 24</th>
          <th>Column 25</th>
          <th>Column 26</th>
          <th>Column 27</th>
          <th>Column 28</th>
          <th>Column 29</th>
          <th>Column 30</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="sticky-column">Row 1, Column 1</td>
          <td>Row 1, Column 2</td>
          <td>Row 1, Column 3</td>
          <td>Row 1, Column 4</td>
          <td>Row 1, Column 5</td>
          <td>Row 1, Column 6</td>
          <td>Row 1, Column 7</td>
          <td>Row 1, Column 8</td>
          <td>Row 1, Column 9</td>
          <td>Row 1, Column 10</td>
          <td>Row 1, Column 11</td>
          <td>Row 1, Column 12</td>
          <td>Row 1, Column 13</td>
          <td>Row 1, Column 14</td>
          <td>Row 1, Column 15</td>
          <td>Row 1, Column 16</td>
          <td>Row 1, Column 17</td>
          <td>Row 1, Column 18</td>
          <td>Row 1, Column 19</td>
          <td>Row 1, Column 20</td>
          <td>Row 1, Column 21</td>
          <td>Row 1, Column 22</td>
          <td>Row 1, Column 23</td>
          <td>Row 1, Column 24</td>
          <td>Row 1, Column 25</td>
          <td>Row 1, Column 26</td>
          <td>Row 1, Column 27</td>
          <td>Row 1, Column 28</td>
          <td>Row 1, Column 29</td>
          <td>Row 1, Column 30</td>
        </tr>
        <!-- Add more rows here -->
      </tbody>
    </table>
  </div>
  